In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#**1. An Institution wishes to find out their student’s ability in mathematics, reading and writing skills. The Institution wants to do an exploratory study to check the following information.**

In [2]:
data = pd.read_csv('/content/Students_Performance.csv')

In [3]:
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

###**A. Find out how many males and females participated in the test.**

In [7]:
gen_count = data['gender'].value_counts()

print("Male count : ", gen_count['male'])
print("Female count : ", gen_count['female'])

Male count :  482
Female count :  518

###**B. What do you think about the students' parental level of education?**

In [19]:
parent_edu = data['parental level of education'].value_counts()

print("Parental level of education : \n")
print(parent_edu)

Parental level of education :

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

###**C. Who scores the most on average for math, reading and writing based on**

**i. Gender**

In [18]:
sub_columns = ['math score','reading score','writing score']

avg_gen_scores = data.groupby('gender')[sub_columns].mean()

print("Average scores achieved by gender: \n")
print(avg_gen_scores)

Average scores achieved by gender:

        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

 **ii. Test preparation course**

In [17]:
avg_test_prep_score = data.groupby('test preparation course')[sub_columns].mean()

print("Average score by Test preparation: \n")
print(avg_test_prep_score)

Average score by Test preparation:

                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

###**D. What do you think about the scoring variation for math, reading and writing based on**

**i. Gender**

In [16]:
sub_columns = ['math score','reading score','writing score']

stdvar_gen_scores = data.groupby('gender')[sub_columns].std()

print("Standard Deviation of scores by gender : \n")
print(stdvar_gen_scores)

Standard Deviation of scores by gender :

        math score  reading score  writing score
gender
female   16.029928      14.411018      14.844842
male     14.556411      14.149594      14.227225

 **ii. Test preparation course**

In [20]:
stdvar_test_prep = data.groupby('test preparation course')[sub_columns].std()

print("Standard deviation of scores by Test Preparation : \n")
print(stdvar_test_prep)

Standard deviation of scores by Test Preparation :

                         math score  reading score  writing score
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667

###**E. The management needs your help to give bonus points to the top 25% of students based on their math score, so how will you help the management to achieve this.**

In [21]:
top25_threshold = data['math score'].quantile(0.75)
top25_students = data[data['math score'] > top25_threshold]

bonus_points = 10

top25_students = top25_students.copy()
top25_students.loc[:, 'bonus_points'] = bonus_points

print("Students eligible for bonus points (i.e,top 25% in math score): \n")
print(top25_students)

Students eligible for bonus points (i.e,top 25% in math score):

     gender race/ethnicity parental level of education         lunch  \
430  female        group A                some college      standard
431  female        group B           bachelor's degree  free/reduced
432  female        group D           bachelor's degree      standard
433  female        group D                 high school      standard
434  female        group D           bachelor's degree  free/reduced
..      ...            ...                         ...           ...
995    male        group E                some college      standard
996    male        group A                some college      standard
997    male        group D                some college      standard
998    male        group E          associate's degree  free/reduced
999    male        group E           bachelor's degree      standard

    test preparation course  math score  reading score  writing score  \
430               completed          78             87             91
431                    none          78             79             76
432                    none          78             82             79
433                    none          78             81             80
434                    none          78             90             93
..                      ...         ...            ...            ...
995               completed          99             87             81
996               completed         100             96             86
997               completed         100             97             99
998               completed         100            100             93
999               completed         100            100            100

     bonus_points
430            10
431            10
432            10
433            10
434            10
..            ...
995            10
996            10
997            10
998            10
999            10

[231 rows x 9 columns]

#**Case Study on Testing of Hypothesis**

#**2. A company started to invest in digital marketing as a new way of their product promotions. For that they collected data and decided to carry out a study on it.**

###**A. The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.**

In [23]:
from scipy.stats import ttest_rel
from scipy.stats import chi2_contingency

In [26]:
data1 = pd.read_csv('/content/Sales_add.csv')
data1.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

###**A. The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.**

In [34]:
sales_before = data1['Sales_before_digital_add(in $)']
sales_after = data1['Sales_After_digital_add(in $)']

t_statistic , p_value = ttest_rel(sales_before,sales_after)

print("Paired t-test results: \n")
print("t-statistic: ", t_statistic)
print("p-value: ",p_value)

Paired t-test results:

t-statistic:  -12.09070525287017
p-value:  6.336667004575778e-11

In [28]:
if p_value < 0.05:
    print("Reject the null hypothesis. There is a significant increase in sales after implementing digital marketing.")
else:
    print("Fail to reject the null hypothesis. There is no significant increase in sales after implementing digital marketing.")

Reject the null hypothesis. There is a significant increase in sales after implementing digital marketing.

###**B. The company needs to check whether there is any dependency between the features “Region” and “Manager”.**

In [32]:
table_cont = pd.crosstab(data1['Region'],data1['Manager'])

chi2_stat , p_value, dof , expected = chi2_contingency(table_cont)

print("Chi-square test results : \n")
print("Chi-square statistic : ", chi2_stat)
print("p-value : ", p_value)

Chi-square test results :

Chi-square statistic :  3.050566893424036
p-value :  0.5493991051158094

In [33]:
if p_value < 0.05:
    print("Reject the null hypothesis. There is a dependency between Region and Manager.")
else:
    print("Fail to reject the null hypothesis. There is no dependency between Region and Manager.")

Fail to reject the null hypothesis. There is no dependency between Region and Manager.